body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(240, 78%, 98%);
  color: rgb(103, 105, 125);

  background: url("./images/bg-top.svg") no-repeat fixed top right,
    url("./images/bg-bottom.svg") no-repeat fixed bottom left;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0vh;
}

.main-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
}
.plan {
  display: flex;
  margin: 4vh 0vh;
}
header {
  font-size: 30px;
}
.toggler {
  -webkit-appearance: none;
  position: relative;
  width: 52px;
  height: 29px;
  background-color: rgb(139, 143, 232);
  border-radius: 35px;
  outline: none;
  margin: 0vh 2vh;
  padding-bottom: 1.5vh;
  position: relative;
}

.toggler::before {
  content: "";
  position: absolute;
  right: 25px;
  bottom: 3.5px;
  width: 2.7vh;
  height: 2.7vh;
  border-radius: 5vh;
  background-color: white;
}

.toggler:checked::before {
  right: 3px;
}

.box-1 {
  height: 400px;
  width: 275px;
  padding: 0vh 3vh;
  margin: 20px 0px;
  border-radius: 15px;
  box-shadow: 0 6px 20px 0 hsl(236, 72%, 79%);
  background-color: white;
  color: rgb(103, 105, 125);
}

.box-1 p {
  margin: 10px 0px;
  color: gray;
  font-size: 15px;
  margin-top: 2vh;
}

.box-1 .price {
  font-size: 5vh;
  color: rgb(79, 81, 102);
  margin: 10px 0px;
  padding: 2vh 0vh;
  padding-bottom: 3.5vh;
  border-bottom: 0.5px solid rgb(168, 168, 169);
}

.box-1 button {
  color: white;
}
.dollar {
  font-size: 25px;
  color: rgb(79, 81, 102);
}

.box-1:hover .dollar {
  color: white;
}

.box-1 li {
  padding: 2vh 0vh;
  border-bottom: 0.5px solid rgb(168, 168, 169);
  font-size: 12px;
}

input:hover {
  background-color: rgb(184, 186, 231);
  cursor: pointer;
}
.button-design-1 {
  margin: 4.5vh 0vh;
  width: 100%;
  height: 5vh;
  letter-spacing: 1px;
  border-radius: 5px;
  color: rgb(103, 105, 125);
  border: 0.1px solid rgb(122, 126, 225);
  font-size: 12px;
  background-image: linear-gradient(
    90deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

.box-1:hover .button-design-1 {
  background-image: linear-gradient(
    90deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}
.button-design-2:hover {
  background-color: rgb(122, 126, 225);
  color: white;
}
.box-1:hover button {
  background-image: none;
  background: none;
}
.box-1:hover p {
  color: white;
}
.box-1:hover .price {
  color: white;
}
.box-1:hover li {
  border-bottom: 0.1px solid white;
}

.box-1:hover .price {
  border-bottom: 0.1px solid white;
}

.box-1:hover {
  padding: 20px 20px;
  background-image: linear-gradient(
    135deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  box-shadow: 0 6px 20px 0 hsl(236, 72%, 79%);
  color: white;
}

.box-1:hover .button-design-1:hover {
  background-image: none;
  background-color: white;
  color: rgb(122, 126, 225);
  cursor: pointer;
}

@media screen and (max-width: 964px) {
  .main-box {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 375px) {
  body {
    background-color: hsl(240, 78%, 98%);
    background: url("./images/bg-top.svg") no-repeat fixed top right;
  }

  .toggler::before {
    right: 25px;
    bottom: 3.5px;
  }

  .toggler:checked::before {
    right: 4px;
  }
}
